
*[data-tooltip]:not(a) {

    cursor: default;
}

*[data-tooltip] > *:not(a) {

    pointer-events: none;
}

#pretty-tooltip {

    display: none;
    position: absolute;
    width: max-content;
    min-width: 1em;
    text-align: left;
    z-index: 100;
    line-height: 1.1em;
    font-size: .9rem;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.3); 
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px;
}

#pretty-tooltip:after {
    
    content: '';
    position: absolute;
    background-color: var(--pretty-tooltip-background);
    filter: contrast(33%) brightness(200%);
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#pretty-tooltip.show {

    display: block;
}

#pretty-tooltip .table {

    display: table;
    width: 100%;
}

#pretty-tooltip .table-row {

    display: table-row;
    position: relative;
}

#pretty-tooltip .table-row:nth-child(odd)::after {

    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.08);
}

#pretty-tooltip .table-cell {

    display: table-cell;
    padding: .2rem .8rem;
}

#pretty-tooltip .table-cell:first-child {

    padding-left: .2rem;
}

#pretty-tooltip .table-cell:last-child {

    padding-right: .2rem;
}